*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: blue;
}
input{
    width: 200px;
    height: 30px;
}
#container{
    width: 200px;
}
#submit{
    width: 70px;
    height: 30px;
    background-color: aquamarine;
    margin-top: 10px;
    line-height: 30px;
    user-select: none;
    text-align: center;
}
#submit:hover{
    background-color: darkturquoise;

}
